.contact-us {
  margin-top: 4rem;
  text-align: center;
}

.message {
  width: 50%;
  height: 5rem;
  position: relative;
  left: 3.8rem;
}

.contact-form > input {
  border: solid 0.1rem black;
}

.send-btn{
  border: none;
  width: auto;
  position: relative;
  padding: 0.7rem;
  top: 3rem;
  right: 2rem;
}