.post-book {
  margin-top: 3rem;
  margin-left: 3rem;
  background-color: green;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  color: white;
}

.books {
  display: flex;
  justify-content: space-around;
}